NODE_ENV=development

BOT_OWNER_NAME=Farros
TZ=Asia/Jakarta

# Nomor pakai format internasional tanpa tanda +
# Contoh Indonesia: 6281234567890
OWNER_WA_NUMBER=628xxxxxxxxxx
MOTHER_WA_NUMBER=628xxxxxxxxxx

# Jam laporan harian format 24 jam WIB
DAILY_REPORT_HOUR=21
DAILY_REPORT_MINUTE=0

SUPABASE_URL=https://xxxx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=xxxx

BAILEYS_AUTH_DIR=auth/session
